{% extends 'base.html' %}

{% load icons %}
{% load static %}
{% load bootstrap4 %}

{% block title %}Payment{% endblock %}


{% block content %}
  <h2 class="mt-3">Payment for emergency tag</h2>
  <div class="col-md ">
    <form method="post">
      {% csrf_token %}
      {% bootstrap_form form %}
      <button class="btn btn-primary" type="submit" href="{% url 'project_view' project_id=project.id%}">Pay</button>
    </form>
  </div>
{% endblock %}
