{% extends 'base.html' %}

{% load icons %}
{% load static %}
{% load project_extras %}

{% block title %}Projects{% endblock %}

{% block content %}
  <h2 class="mt-3 text-center" >Open Projects</h2>


  <div class="row">
    <div class="col-lg text-center">

      <div class="text-center d-inline-flex list-group mt-3" id="project-toggle" role="tablist">
        <ul class="pagination">
          {% for project_category in project_categories %}
          <li class="page-item">
            <a
              class="list-group-item list-group-item-action"
              data-toggle="list"
              role="tab"
              id="category-{{project_category}}"
              aria-controls="{{project_category}}"
              href="#{{project_category}}">
                {{project_category}}
            </a>
          </li>
          {% endfor %}

        </ul>
      </div>

      <div class="tab-content"  id="nav-tabContent">
        {% for project_category in project_categories %}
          <div class="tab-pane fade show" id="{{project_category}}" role="tabpanel" aria-labelledby="category-{{project_category}}">
            <h3 class="mb-3 mt-5">{{project_category}}</h3>
            <div class='container'>
                <div class='row'>
                    {% with tab=project_category%}
                    <div class='col-4'>
                        {% if '-title' in request.get_full_path %}
                            <a href="?sort=title&tab={{tab}}">Title</a><img src="{% static 'img/down.png' %}"/>
                        {% elif 'title' in request.get_full_path %}
                            <a href="?sort=-title&tab={{tab}}">Title</a><img src="{% static 'img/up.png' %}"/>
                        {% else %}
                            <a href="?sort=-title&tab={{tab}}">Title</a>
                        {% endif %}
                    </div>
                    <div class='col-4'>
                        {% if '-creationDate' in request.get_full_path %}
                            <a href="?sort=creationDate&tab={{tab}}">Creation Date</a><img src="{% static 'img/down.png' %}"/>
                        {% elif 'creationDate' in request.get_full_path %}
                            <a href="?sort=-creationDate&tab={{tab}}">Creation Date</a><img src="{% static 'img/up.png' %}"/>
                        {% else %}
                            <a href="?sort=-creationDate&tab={{tab}}">Creation Date</a>
                        {% endif %}
                    </div>
                    <div class='col-4'>
                        {% if '-endDate' in request.get_full_path %}
                            <a href="?sort=endDate&tab={{tab}}">End Date</a><img src="{% static 'img/down.png' %}"/>
                        {% elif 'endDate' in request.get_full_path %}
                            <a href="?sort=-endDate&tab={{tab}}">End Date</a><img src="{% static 'img/up.png' %}"/>
                        {% else %}
                            <a href="?sort=-endDate&tab={{tab}}">End Date</a>
                        {% endif %}
                    </div>
                    {%endwith%}
                </div>
            </div>

            <div class="row projects-view">
                {% for project in projects %}
                  {% if project.status == project.OPEN and project.category.id == project_category.id and project.emergency == 1%}
                  <a class="open-project-view-item" href="{% url 'project_view' project_id=project.id%}">
                  <div class="emergency col-md mb-3 ml-3 mr-3 mt-3 project-box-style">
                    <div class="media">
                      <img class="align-self-top mr-3 mt-5 project-image" src="{% static 'img/honeybee.png' %}" alt="Generic placeholder image." />
                      <div class="media-body">
                        <h5 class="mt-3"> {% icon 'tasks' %} {{project.title}}</h5>
                        <p>Posted by: {{project.user.user.username}}</p>
                        <p class="project-description">{{project.description}}</p>
                        <p>Done by Date: {{project.endDate}}</p>
                        <p>Creation Data:{{project.creationDate}} </p>
                        <p class="project-emergency"> Emergency</p>
                    </div>
                  </div>
                  </div>
                  </a>
                  {% endif %}
                {% endfor %}

            </div>
            <div class="row projects-view">
                {% for project in projects %}
                  {% if project.status == project.OPEN and project.category.id == project_category.id and project.emergency == 0%}
                  <a class="open-project-view-item" href="{% url 'project_view' project_id=project.id%}">
                  <div class="col-md mb-3 ml-3 mr-3 mt-3 project-box-style">
                    <div class="media">
                      <img class="align-self-top mr-3 mt-5 project-image" src="{% static 'img/idea.jpg' %}" alt="Generic placeholder image." />
                      <div class="media-body">
                        <h5 class="mt-3"> {% icon 'tasks' %} {{project.title}}</h5>
                        <p>Posted by: {{project.user.user.username}}</p>
                        <p class="project-description">{{project.description}}</p>
                        <p>Done by Date: {{project.endDate}}</p>
                        <p>Creation Data:{{project.creationDate}} </p>
                    </div>
                  </div>
                  </div>
                  </a>
                  {% endif %}
                {% endfor %}

            </div>

          </div>
        {% endfor %}
      </div>

    </div>
  </div>

  <script src="{% static 'js/tab_change.js' %}"></script>
  <script>
  let url = window.location.href
  let tabs = document.getElementsByClassName('list-group-item-action');
  let tabSelected = false;
  Array.prototype.forEach.call(tabs, function(tab) {
    console.log(tab.id.split('-')[1]);
    if (url.includes(tab.id.split('-')[1])){
        tabSelected = true;
        document.getElementById(tab.id).click()
    }
  });
  if (!tabSelected){
      tabs[0].click()
  }
  </script>
{% endblock %}
